<div class="modal fade" id="remote-modal" tabindex="-1" role="dialog" aria-labelledby="modalDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
